@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Ski Fan Page!</h1>
 
    <img src="~/skihigh.jpeg" height="400px" />
    <img src="~/spin.jpeg" height="400px" />

    <p>Here is some information about skiing. Very exciting stuff. Yea.</p>
</div>
