@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Ski Fan Page!</h1>
 
    <img src="~/skihigh.jpeg" height="400px" />
    <img src="~/spin.jpeg" height="400px" />
    <br />
    <br />
    <p>
        Welcome to the ultimate haven for ski enthusiasts! Dive into a world where the thrill of the slopes meets the camaraderie of fellow ski fans. From breathtaking mountain vistas to the latest in ski gear and techniques, our community is a vibrant space for sharing experiences, tips, and the sheer joy of skiing.
    </p>
    <p>
        Join us as we explore the best ski destinations, celebrate the season's highlights, and connect over our shared passion. Whether you're a seasoned pro or just starting out, there's a place for you here among the fresh powder and exhilarating runs.

    </p>
</div>
